<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
    <section class="hero">
    <h2 class="hero-tytle">Discover the magic of <span class="hero-photography">photography</span> in our school</h2>
    <p class="hero-text">Our photography school offers an unforgettable journey, where you can learn the basics of composition, master technical skills, translate your unique ideas.</p>
    <img src="../img/students.webp" alt="students" class="hero-students">
    <p class="hero-see_students">Our happy students</p>
    <img src="../img/arrow.webp" alt="arrow" class="hero-arrow">
    <img src="../img/star.webp" alt="cyrcle with star inside" class="hero-">
    <p class="hero-reviews">Reviews</p>
    <p class="hero-number">+1500</p>
</section>
</body>
</html>