/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./block.css');
@import url('./about_us.css');
@import url('./our_courses.css');
@import url('./our_mentors.css');
@import url('./sign_up.css');
@import url('./reviews.css');
@import url('./footer.css');

:root {
  --wite-color: #fff;
  --camera-bacground-color: #BEA69E;
  --gradient-color: #1D1D1D;
  --bacground-color: #121212;
}